<ion-header>
    <ion-navbar>
        <ion-title>Maple Trees</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <!-- <h3 class="no-item" text-center *ngIf="loadTrees().length === 0">
        No item available on the list!
    </h3> -->
    <ion-card *ngFor="let tree of trees">
        <ion-card-content>
            <h1>{{tree.nickname}}</h1>
            <ion-badge item-end>Location: {{tree.latitude}}, {{tree.longitude}}</ion-badge>
            <p>Circumference: {{tree.circumference}}</p>
            <p>Number of Taps: {{tree.number_taps}}</p>
            <p>Date Tapped: {{tree.tap_date}}</p>
            <p *ngIf="tree.comments !== undefined && tree.comments">Comments: {{tree.comments}}</p>
        </ion-card-content>
    </ion-card>
    <ion-fab bottom right>
        <button (click)="openModal()" ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
    </ion-fab>
</ion-content>